@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap");
@import "tailwindcss";



.font-montserrat {
    font-family: "Montserrat", system-ui, -apple-system, "Segoe UI", Roboto,
        sans-serif;
}

.font-inter {
    font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
}